.navGame {
  background-color: black;
  color: var(--lightgray);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100px;
}

.navgame--counter {
  margin-right: auto;
  margin-left: 20px;
  font-size: 2rem;
  color: var(--lightyellow);
}

.navgame--hero-avatar {
  width: 90px;
  margin: 0 10px;
  border-radius: 50%;
  transition: all 0.2s;
  z-index: 100;
}

.navgame--hero-avatar:hover {
  transform: translateY(45px) scale(2);
  z-index: 101;
  opacity: 1 !important;
}

.need-margin {
  margin-right: auto;
}