.navHome {
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
}

.navhome--logo {
  font-size: 2rem;
  font-family: 'Frijole', cursive;
  color: var(--lightyellow);
  margin-left: 20px;
  margin-right: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--lightgray);
  margin-right: 20px;
  font-size: 1.3rem;
}

.nav-link:hover {
  color: var(--lightyellow);
}

.nav-icon {
  width: 30px;
  margin-right: 5px;
}
