@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Jura:wght@400;700&display=swap');

:root {
  --lightyellow: #f5bf2b;
  --lightgray: #c5bfb5;
}

body {
  margin: 0;
  font-family: 'Jura', sans-serif;
}

.navHome {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.navhome--logo {
  font-size: 2rem;
  font-family: 'Bungee Shade', cursive;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-family: 'Monoton', cursive;
  font-family: 'Fredericka the Great', cursive;
  font-family: 'Frijole', cursive;
  color: var(--lightyellow);
  margin-left: 20px;
}

.navhome--leaderboradLink {
  text-decoration: none;
  color: var(--lightgray);
  margin-right: 20px;
  font-size: 1.3rem;
}

.navhome--leaderboradLink:hover {
  color: var(--lightyellow);
}

.navhome--rating-icon {
  width: 30px;
  margin-right: 5px;
}

.home--games {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.home--image {
  width: 300px;
  border-radius: 20px;
}

.home--content {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: black;
}

.home--title {
  color: var(--lightyellow);
  font-size: 2rem;
}

.home--image-container {
  position: relative;
  transition: all 0.2s;
  width: 300px;
}

.home--image-container:hover {
  transform: scale(1.05);
}

.home--text-on-image {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 0);
  text-decoration: none;
  color: black;
  background-color: var(--lightyellow);
  width: 100%;
  text-align: center;
  border-radius: 0 0 20px 20px;
  padding: 3px 0;
  font-size: 1.3rem;
}
