@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Jura:wght@400;700&display=swap');

:root {
  --lightyellow: #f5bf2b;
  --lightgray: #c5bfb5;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Jura', sans-serif;
}